# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\moixm\OneDrive\Desktop\Facultad\Desarrollo de Aplicaciones en la Nube\Guias Practicas\dan-ms-pagos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
